.CategoryFilter {
    width: 400px;
    margin: 10px;
}

input {
    border: 1px solid #ccc;
    background-color: white;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
}

label {
    display: block;
    text-transform: uppercase;
    font-size: 0.8rem;
}
