.TableHead {
    display: flex;
    margin: 30px 30px 0 30px;
}

.TableHead-spacer {
    flex: 1;
}

.TableHead-cell {
    flex: 1;
    font-weight: bold;
    text-align: right;
}

.Subcategory {
    display: flex;
    padding: 5px 0;
    width: 100%;
}

.Subcategory:nth-child(2n) {
    background-color: #eee;
}

.Subcategory-name {
    flex: 1;
}

.Subcategory-value {
    flex: 1;
    text-align: right;
    box-sizing: border-box;
}

.Subcategory-value.Summary {
    flex: 1;
    font-weight: bold;
    border-top: 1px solid black;
}
