html,
body {
  font-family: sans-serif;
  background-color: whitesmoke;
}

.subcat-row {
  display: flex;
  border: 1px solid red;
}

.subcat-row div {
  flex: 1;
  border: 1px solid blue;
  width: 20%;
}

.SelectBox {

}
